.container {
    background-color: Red;
    border: 2px solid black;
    border-radius: 8px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
}
.container2 {
    color: blueviolet;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 8px;
    width: 100%;
    height: 245px;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    list-style: none;
}
.container3 {
    color: whitesmoke;
    background-color: brown;
    border: 2px solid black;
    border-radius: 8px;
    width: 100%;
    height: 245px;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    list-style: none;
}
i {
  color : orange
}
img {
    width: 100px;
    height: 150px;
}
.container .search-bar {
    background-color: aqua;
    max-width: fit-content;
    padding: 5px;
    border-radius: 4px;
}